# ==========================
# Python
# ==========================

__pycache__/
*.py[cod]

# ==========================
# Jupyter
# ==========================

.ipynb_checkpoints/

# ==========================
# Environnements virtuels
# ==========================

venv/
.venv/
env/

# ==========================
# Variables d'environnement
# ==========================

.env

# ==========================
# Système
# ==========================

.DS_Store
Thumbs.db

# ==========================
# Notes personnelles
# ==========================
commandes.txt

# ==========================
# Code a ne pas push
# ==========================

